<!doctype html>

<head>
  <title>Dashboard - Explora AR</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <script src="{{ url_for('static', filename='quill.js') }}"></script>
  <link href="{{ url_for('static', filename='quill.snow.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='ar/three.js') }}"> </script>
  <script src="{{ url_for('static', filename='ar/ar-threex.js') }}"> </script>
  <script src="{{ url_for('static', filename='ar/GLTFLoader.js') }}"> </script>
  <script src="{{ url_for('static', filename='THREE_utils.js') }}"></script>
  <script src="{{ url_for('static', filename='3D_viewer.js') }}"></script>
  
</head>

<body>
  <nav id="top_nav">
    <a href="{{request.path}}"><img src="{{ url_for('static', filename='explora_logo.png') }}"></a>
    <ul style="align-items: center;">
      {% if g.user %}
      <li><span>{{ g.user['email'] }}</span></li>
      <li><a class="submitanswerbutton" style="background: #2b3654; border-radius: 0px; color: #f2f2f2; text-decoration: none; font-weight:300; font-size:12px" href="{{ url_for('dashboard.logout') }}">Esci</a></li>
      {% endif %}
    </ul>
    <h1>Augmented Reality content manager</h1>
  </nav>

  {% block navigation %}{% endblock %}

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>

</body>