X
instance/*.sqlite
instance/*firebase*.json
instance/*/*firebase*.json
instance/messages.ini

ar_server/static/content/*.png
ar_server/static/content/*.jpeg
ar_server/static/content/*.jpg
ar_server/static/content/*.JPG
ar_server/static/content/*.JPEG
ar_server/static/content/*.PNG
ar_server/static/content/*

ar_server/static/firebaseConfig.js

ar_server/requirements.txt

venv
*.egg-info
**/__pycache__
**/*.pyc
**/_old_*
**/*.zip